@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* 400 */
@font-face {
  font-family: robotoCustom;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

/* 700 */
@font-face {
  font-family: robotoCustom;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --Dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --gradient-pink: #ff3e83;
  --gradient-orange: #fd634a;
  --gradient-shadow: #ff3e8355;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--charcoal-grey);
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Roboto";
  display: grid;
  place-content: center;
}
.container {
  max-width: 955px;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container.success {
  display: initial;
  padding: 3.5rem;
}

.left {
  color: var(--Dark-slate-grey);
  padding: 4rem 2rem 2rem 2rem;
}

.left-info h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.left-info p,
.left-info ul {
  margin-bottom: 1.5rem;
}
.left-info ul li {
  list-style-image: url("../assets/images/icon-list.svg");
  list-style-position: inside;
}

.left-info ul li::before {
  content: "";
  margin-right: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item label {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.form-item label .invalid-email {
  color: var(--tomato);
  display: none;
}

.form-item label .invalid-email.active {
  display: block;
}

.form-item input,
.form-item button {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.form-item input {
  border: 1px solid var(--grey);
}

.form-item input.active {
  background-color: rgba(255, 98, 87, 0.2);
  border: 1px solid --tomato;
}

.form-item button {
  cursor: pointer;
  background: var(--Dark-slate-grey);
  color: var(--white);
  font-weight: 700;
  outline: none;
  border: none;
}

.form-item button:hover {
  background: linear-gradient(
    127deg,
    var(--gradient-pink),
    var(--gradient-orange)
  );
}

.right {
  text-align: right;
}

.confirmed-message {
  display: none;
  line-height: 1.5;
}

.confirmed-message.active {
  display: block;
}

.confirmed-message img {
  width: 80px;
}

.confirmed-message h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

.confirmed-message p {
  margin: 1rem 0 2rem;
}

.confirmed-message button {
  cursor: pointer;
  background-color: var(--Dark-slate-grey);
  color: var(--white);
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: none;
}

.confirmed-message button:hover {
  background: linear-gradient(
    127deg,
    var(--gradient-pink),
    var(--gradient-orange)
  );
}

#user-email {
  font-weight: 700;
}

@media (max-width: 760px) {
  body {
    display: initial;
    line-height: 1.4;
  }

  .container {
    width: 100%;
    height: initial;
    padding: 0;
    grid-template-columns: 1fr;
  }

  .container.success {
    display: block;
    padding: initial;
  }

  .left {
    padding: 1rem;
    grid-row: 2;
  }

  .left-info ul li {
    margin-bottom: 1rem;
  }

  .right img {
    width: 100%;
  }

  .confirmed-message.active {
    height: 100vh;
    padding: 14rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .confirmed-message button {
    margin-top: auto;
  }
}
