@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

.header {
  border: 1px solid black;
  padding: 100px;
  height: 300px;
  margin: 0 auto;
}

.project-heading h2 {
  font-size: 24px;
}
.tags ul,
.project-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.tags li {
  background-color: black;
  color: white;
  padding: 8px 12px;
  margin-right: 8px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
}

.demo-link img {
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 4px;
}

#card-project {
  padding: 20px;
  border: 1px solid black;
  border-radius: 0;
}

.project-link a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px 12px;
  transition: all 150ms ease-in-out;
}

.project-link a:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.demo-link {
  position: relative;
  text-align: center;
}
.demo-link-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #646464;
  color: white;
  border-radius: 40px;
  padding: 4px 10px;
  opacity: 0;
  transition: all 300ms ease-in;
  white-space: nowrap;
}
.demo-link:hover img {
  opacity: 0.75;
  filter: grayscale(0.9) blur(1px);
}

.demo-link:hover .demo-link-hover {
  opacity: 1;
}

@media (max-width: 960px) {
  header {
    height: 250px;
  }
}
